 <!-- START THE FEATURETTES 
    ================================================== -->
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-15" id="changetaville">
        <h1 class="text-center" style="width: 100%">Changetaville.fr est un site dédié aux personnes<br>qui se mobilisent et agissent dans leur ville<br></h1> 
        <!--<br><p class="lead">C'est rapide, vous devriez tester</p>-->
        
        <%# image_tag("sinscrire.jpg") %>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5">
        <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="">
      </div>
      <div class="col-md-15">
        <h1 class="text-center" style="width: 100%">Le super héros:<br><br>
        <i class="fa fa-hand-o-right"></i> a  des pouvoirs supernaturels<br><br>
        <i class="fa fa-hand-o-right"></i> est déguisé<br><br>
        <i class="fa fa-hand-o-right"></i> est souvent IMAGINAIRE :(<br><br>
        Etes vous prêts à en rencontrer de VRAIS proches de chez vous? 
        <span class="text-muted"></span></h1>
      <%# image_tag("choix.jpg") %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="col-md-15">
    <h1 class="text-center" style="width: 100%">
    <span class="text-muted"></span></h1>
      <!--<br><p class="lead">Soyez les Bienvenues</p>
      <%# image_tag("choixbille.jpg") %>
      </div>! 
      <div class="col-md-5">
        <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="">
      </div>-->
     
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
