<div class="concept">
  <center><strong>Changetaville.fr</strong> est un site dédié aux personnes qui se mobilisent et agissent au sein de la ville.  
  <br>
  <br>Bon nombre d'associations œuvrent dans l'ombre et se retrouvent confrontées à des difficultés pour communiquer et sensibiliser.
  <br>
  <br>Certaines personnes sont très actives et souhaiteraient gagner en visibilité, d'autres aimeraient s'impliquer: elles ne disposent pas des bons canaux de communication.
  <br>
  <br><strong>Changetaville.fr</strong> propose aux <strong>habitants</strong> d'intargir avec <strong>le microcosme d'acteurs<strong> et les <strong>structures associatives</strong> de la ville de Montreuil. 
  <br>
  <br>Envie de se sentir utile? Désir de rentrer en contact avec les personnes actives de son quartier? Vous êtes au bon endroit.
  <br>
  <br>
  <br>
  Simple d'accès, ludique et pratique: changetaville.fr permet de "re"créer du lien social en aidant les habitants à agir, les associations à se structurer et à gagner en visibilité.
</div>

