<div class="concept">
  <center>
  <br><strong>Changetaville.fr</strong> s'adresse aux personnes qui ressentent le besoin d'<strong>être utile</strong> ou qui souhaitent <strong>rentrer en contact</strong> avec d'autres personnes actives de leur <strong>quartier</strong> ou de leur <strong>ville</strong>. 
  <br>
  <br>
  <strong>Pour les habitants</strong>
  <br>Certains habitants très actifs  aimeraient s'impliquer mais ils ne disposent pas des bons canaux de communication.
  <br>Changetaville.fr leur permet <strong>d'intargir avec le microcosme d'acteurs</strong> et les <strong>structures associatives</strong> de leur ville. 
  <br>
  <br>
  <strong>Pour les associations</strong>
  <br>Bon nombre d'associations œuvrent dans l'ombre et se retrouvent confrontées à des difficultés pour sensibiliser les habitants.
  <br>Changetaville.fr</strong> leur permet de<strong> mieux communiquer</strong> et de <strong>gagner en visibilité</strong>. 
  <br>
  <br>
  <strong>Simple d'accès, ludique et pratique</strong>: changetaville.fr permet de <strong>"re"créer du lien social</strong> en aidant les habitants à <strong> agir et s'investir</strong>, les associations à <strong>s'organiser et se structurer</strong>.
</div>

