<div class="row">

<div class="col-lg-offset-3 col-lg-7">
<div class="concept text-justified">
  <h4>
  Besoin <strong>d'être utile?</strong>
  <br>
  <h4>Envie de <strong>rentrer en contact</strong> avec <strong>d'autres personnes actives de votre quartier?<strong> de votre ville?</strong>
  </h4>
  <br>
  <h4><strong>Changetaville.fr</strong> est l'outil qu'il vous faut;)
  <br> 
  <strong>Simple d'accès, ludique et pratique</strong>: changetaville.fr permet de <strong>"re"créer du lien social</strong> en favorisant l'interaction entre habitants et structures associatives.
  <h4>
  <br>Pour qui?  
  <br>
  <strong>Pour les habitants</strong>
  <h4>Certains habitants très actifs aimeraient s'impliquer mais ils ne disposent pas des bons canaux de communication>
  <h4>Changetaville.fr leur permet <strong>d'intargir avec le microcosme d'acteurs</strong> et les <strong>structures associatives</strong> de leur ville. 
  <h4>
  <strong>Pour les associations</strong>
  <h4>Bon nombre d'associations œuvrent dans l'ombre et se retrouvent confrontées à des difficultés pour sensibiliser les habitants.
  <h4>Changetaville.fr</strong> leur permet de<strong> mieux communiquer</strong> et de <strong>gagner en visibilité</strong>. 
  
  </h1>
</div>
</div>
</div>