<div class="concept">
  <center><strong>Les super héros de Montreuil</strong> est un sité dédié aux personnes qui se mobibisent.  
  <br>L'idée est née de la volonté de mettre en relation <strong>les habitants</strong> et <strong>les structures associatives de la ville></strong><br></center> 
</div>