<div class="concept">
  <center><strong>Les super héros de Montreuil</strong> est un sité dédié aux personnes qui se mobilisent et agissent au sein de la ville.  
  <br>
  <br>L'idée est née du constat que de personnes
  
  <br>L'envie de créer du lien social
  
  aider les habitants à agir
  aider les associations à se structurer

  <br>C'est en partant de ce dernier postulat et au contact des habitants et acteurs de la ville qu'est née la volonté de mettre en relation <strong>les habitants</strong> et <strong>les structures associatives de la ville de Montreuil.</strong><br></center> 
</div>

