<div class="row">

<div class="col-lg-offset-3 col-lg-7">
<div class="concept text-justified">
<br>
<br>
<br>
<br>
  <h4>
  Besoin <strong>d'être utile?</strong>
  <br>
  <br>
  <h4>Envie de <strong>rentrer en contact</strong> avec <strong>d'autres personnes actives de votre quartier?<strong> De votre ville?</strong>
  </h4>
  <br>
  <h4>Simple d'accès, ludique et pratique changetaville.fr est l'outil qu'il vous faut
  <br>
  <br>
  <br>changetaville.fr permet de "re"créer du lien social en favorisant deux choses: 
  <br>
  <br>
  <li> L'interaction structures entre associations et habitants souhaitant agir.
  <br>
  <br>
  <li> La visibilité et la mise en valeur du travail des associations confrontées à des difficultés pour sensibiliser les habitants.
  <br>
  <br>
  <h4>Changetaville.fr</strong> leur permet de<strong> mieux communiquer</strong> et de <strong>gagner en visibilité</strong>. 
  
  </h1>
</div>
</div>
</div>