<div class="concept">
  <center><strong>Les super héros de Montreuil</strong> est un sité dédié aux personnes qui se mobibisent et agissent au sein de la ville.  
  <br>
  <br>Le super héros est classiquement doté de pouvoirs supernaturels et fictifs, se distingue par son apparat et se caractérise par une double identité alliant <strong>normalité</strong> et <strong>super pouvoirs</strong>. 
  <br>
  <br>C'est en partant de ce dernir postulat et au contact des habitants et acteurs de la ville qu'est née la volonté de mettre en relation <strong>les habitants</strong> et <strong>les structures associatives de la ville de Montreuil.</strong><br></center> 
</div>

