<div class="contact">

<div class="col-lg-offset-2 col-lg-7">
<div class="concept text-justified">
  <br>
  <br>
  <br>
  <h4>
  <strong>Fondateur:</strong> Mademba-Alexandre DIOP<br>
  <br>
  <abbr title=<br><strong>Portable:</strong> 06.11.47.75.07</abbr><br>
  <abbr title=<br><br><strong>E mail:</strong></abbr>	
  <a href="mailto:#">mad@changetaville.fr</a>
</div>
