<div class="contact">
  <strong>MadPro, AuCalme Inc.</strong><br>
  5, Avenue Blabla, 3 étage<br>
  LGC, 92250<br>
  <br>
  <strong>Mademba-Alexandre DIOP</strong><br>
  <abbr title=<br>Portable: 06.11.47.75.07</abbr><br>
  <abbr title=<br>E mail:</abbr>	
  <a href="mailto:#">alexandre.diop@gmail.com</a>
</div>
