    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <%=image_tag 'herosfresh.jpeg' %>
          <div class="container">
            <div class="carousel-caption">
              <div class="carousel-text">  
                <h1>Les Super Héros de Montreuil</h1>
                <p>Réaliser des actions sociales dans sa ville n'a jamais été aussi simple</p>
              </div>   
              <p><a class="btn btn-lg btn-primary;" href="#" style="background:#100600"; role="button">S'inscrire</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <%=image_tag 'ville.jpeg' %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Les Super Héros de Montreuil</h1>
              <p>La plateforme de réalisation d'actions sociales de la ville</p>
              <p><a class="btn btn-lg btn-primary" href="#" style="background:#5c9ce0"; role="button">En savoir plus</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <%=image_tag 'monde.jpg_1024' %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Tout près de chez toi</h1>
              <p>Ne cherche pas plus loin, c'est ici que cela se passe</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Passer à l'action</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel --> 

   <!-- Marketing messaging and featurettes
   ================================================== -->
   <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row description" background-color="bfb5b5">  

      <div class="col-lg-4">
        <img class="img-circle" data-src="holder.js/140x140" alt="">
        <i class="fa fa-heart fa-4x"></i> 
        <h2>Les Associations</h2>
        <p>Donner de son temps pour partager et s'enrichir</p>
        <p><a class="btn btn-default" href="#" role="button">En savoir plus &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <img class="img-circle" data-src="holder.js/140x140" alt="">
        <i class="fa fa-users fa-4x"></i> 
        <h2>Les Montreuillois</h2>
        <p>Donner de son temps, de son expertise pour partager et s'enrichir</p>
        <p><a class="btn btn-default" href="#" role="button">En savoir plus &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <img class="img-circle" data-src="holder.js/140x140" alt="">
        <i class="fa fa-female fa-4x"></i> 
        <i class="fa fa-male fa-4x"></i>
        <h2>Les Entrepreneurs</h2>
        <p>Donner de son expertise pour partager et s'enrichir</p>
        <p><a class="btn btn-default" href="#" role="button">En savoir plus &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->

    <!-- START THE FEATURETTES 
    ================================================== -->
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">C'est Rapide.<span class="text-muted"> Quelques minutes pour s'inscrire</span></h2>
        <p class="lead">2 minutes... pour interagir avec l'ecosystème de sa ville</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5">
        <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">  See for yourself.</span></h2>
        <p class="lead">P</p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->


    <!-- FOOTER -->
    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

  </div><!-- /.container -->

</body>
</html>
