<div class="montreuilcity">

<div class="col-lg-offset-3 col-lg-7">
<div class="concept text-justified">
<br>
<br>
<br>
<br>
<h4>
La ville compte plus de 100 000 habitants (103 068 habitants en 2011) 
<br>
<br>Grande <strong> diversité </strong>de personnes, brassage <strong>culturel,</strong>  <strong>ethnique</strong> et <strong>artistique </strong>font de Montreuil un vivier de <strong> "super héros"<strong>
<br>
<br>La ville est répartie en 14 secteurs et <strong>6 grands quartiers</strong>
<br>
<br>
<li>Le Bas Montreuil</li>
<br>
<li>Le Centre ville</li>
<br>
<li>La Noue - Villiers-Barbusse</li>
<br>
<li>Bel Air - Signac - Mûrs à Pêches</li>
<br>
<li>Ramenas - Branly - Boissière</li>
<br>
<li>Ruffins - Montreau - Le Morillon</li>
<br> 
</div>