<div class="montreuilcity">
<center><strong>Montreuil</strong></center>
<br>

<center>La ville compte plus de 100 000 habitants (103 068 habitants en 2011) 
<br>
<br><center>La ville est répartie en <strong>14 secteurs</strong> et <strong>6 grands quartiers</center></strong>
<br><center>Le Bas Montreuil</center>
<br><center>Le Centre ville</center>
<br><center>La Noue - Villiers-Barbusse</center>
<br><center>Bel Air - Signac - Mûrs à Pêches</center>
<br><center>Ramenas - Branly - Boissière</center>
<br><center>Ruffins - Montreau - Le Morillon</center>

<br><center><strong>Population dynamique</strong> (1 758 naissances en moyenne par an depuis 2000)
<br>
<br>Grande <strong> diversité </strong>de personnes, brassage <strong>culturel,</strong>  <strong>ethnique</strong> et <strong>artistique </strong>font de <strong>Montreuil un vivier de super héros<strong>
<br>
<br>C'est pour toutes ces raisons que Changetaville.fr a choisi la ville de Montreuil pour son lancement. 
</div>