<div class="montreuilcity">
Montreuil compte plus de 100 000 habitants (103 068 habitants en 2011)
<br>
<br>La ville est répartie en 14 secteurs et 6 grands quartiers
<br>
<br>Le Bas Montreuil
<br>
<br>Le Centre ville
<br>
<br>La Noue - Villiers-Barbusse
<br>
<br>Bel Air - Signac - Mûrs à Pêches
<br>
<br>Ramenas - Branly - Boissière
<br>
<br>Ruffins - Montreau - Le Morillon

</div>