<div class="superheros">
<br>
<center><strong>Les Montreuillois :)<center></strong>
<br>
<center>Montreuil compte plus de <strong>100 000 habitants</strong> et potentiellement autant de super-héros.
<br> 
<br>
Qui dit "super-héros", dit <strong> super pouvoirs</strong>, <strong>justice,</strong><strong> bien pour la communauté et les plus démunis</strong>.<br>
<br>Qui dit "super-héros", dit aussi <strong>imagination, fiction</strong> 
<br>.
<br>En réalité, bon nombre d'individus agissent, oeuvrent et produisent dans l'ombre sans que leurs "supers pouvoirs"<strong> bien réels</strong> soient mis en valeur.
<br>
<br>Changetaville.fr leur rend hommage en leur permettant de <strong>se renconter, de s'exprimer et d'agir à l'échelle de leur quartier, à l'échelle de leur ville</strong>.
<br
>  
</center>
</div>