<div style="border:solid 3px black; width:900px; padding:50px; margin:auto;text-align:center;">

<h2>Merci</h2>

<br>

<h2>Un mail de confirmation vient de vous être envoyé à l'adresse enregistrée</h2>

<br>

<h2>A bientôt</h2>

<blockquote>
  <p>La ville est truffée de super héros qui n'en ont pas conscience...</p>
  <footer>Un simplonien anonyme <cite title="Source Title">Source: Le Bocal</cite></footer>
</blockquote>

</div>